body {
    background-color: brown;
}

#imagemsite
    width 100%;
    height: 40%;
    border: 3px solid;
}


.principal{
    background-color:blueviolet;
}




h1 {
        color: crimson;
        text-align: center;
        font-size: 65px;
}

.EscudodoMestre {
    background-color: aliceblue;
    font-size: 30px;
}