body {
    background-color: brown;
}

#imagemsite
    width 100;
}







h1 {
        color: crimson;
        text-align: center;
        font-size: 65px;
}

.Escudo do Mestre {
    background-color: aliceblue;
    font-size: 30px;
}